<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nazariy Mandebura</title>

    <link rel="stylesheet" href="/static/node_modules/uikit/dist/css/uikit-core.css">
    <link rel="stylesheet" href="/static/node_modules/uikit/dist/css/uikit.css">

    <script src="/static/node_modules/uikit/dist/js/uikit.js"></script>
</head>
<body class="uk-height-1-1">
<div class="uk-width-1-1 uk-height-1-1">
    <%block name="root">
    </%block>
</div>
</body>
</html>